div.right.floated {
    float: right;
    margin-right: 0.25em;
}

.ui.header {
    margin-bottom: 0;
}

.ui.header.center.aligned {
    padding-top:20px;
}

#editor-container {
    padding: 0;
}

#machine {
    padding-left: 0;
    padding-right: 0;
}

#speed_column {
    margin-top: 10px;
}

#menu_column {
    margin-top: 10px;
}

.tape-container.tape-container {
    padding: 0;
}

#tape {
    overflow-x: auto;
    font-family: monospace;
    background-color: black;
    line-height: 50pt;
    min-height: 50pt;
    white-space: nowrap;
}

.cell {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 3px;
    background-color: white;
    font-size: 25pt;
    line-height: initial;
    vertical-align: middle;
    width: 60px;
    display: inline-block;
}
.cell:first-child {
    margin-left: 50%;
}
.cell:last-child {
    margin-right: 50%;
}

.cell.head {
    background-color: #1B8A16;
}
.container{
    background-color: #e0e0e0;
}
body{
    background-color: #e0e0e0;
}
