.top.top {
    margin-top: 20px;
}

.user {
    width: 225px;
    float: right;
}

.user .input {
    margin-bottom: 5px;
}

#editor-container {
    padding: 0;
}

#machine {
    padding-left: 0;
    padding-right: 0;
}

#machine-description {
    text-align: right;
}

#speed_column {
    margin-top: 10px;
}

#menu_column {
    margin-top: 10px;
}

.tape-container.tape-container {
    padding: 0;
}

#tape {
    overflow-x: auto;
    font-family: monospace;
    background-color: black;
    line-height: 50pt;
    min-height: 50pt;
    white-space: nowrap;
}

.cell {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 3px;
    background-color: white;
    font-size: 25pt;
    line-height: initial;
    vertical-align: middle;
    width: 60px;
    display: inline-block;
}
.move-head .cell:first-child {
    margin-left: 50%;
}
.move-head .cell:last-child {
    margin-right: 50%;
}

.cell.head {
    background-color: #1B8A16;
}
.container {
    background-color: #e0e0e0;
}
body {
    background-color: #e0e0e0;
}
.write {
    float: left;
    padding-right: 5px;
}
.errors.errors {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 400px;
}
.errors .message {
    margin-top: 10px;
}
