<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online Turing Machine Simulator</title>
        <meta http-equiv="Content-Type" content="text/ html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="Description" content="Interactive Turing machine simulator. Use a simple language to create, compile and run your Turing machines save and share your own Turing machines.">
        <meta name="Keywords" content="Turing, machine, simulator, online">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" type="text/css" rel="stylesheet" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.min.css" type="text/css" rel="stylesheet" >

        <link href="/static/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body><div class="ui container">
        <div class="ui grid two column top">
            <div class="ui column">
                <h1 class="ui header">Turing Machine Simulator</h1>
            </div>
            <div class="ui column">
                <div class="ui segment user" align="right">
                    <div class="login">
                        <div class="ui fluid input mini">
                            <input id="username" type="text" name="Username" placeholder="Username">
                        </div>
                        <div class="ui fluid input mini">
                            <input id="password" type="password" name="Password" placeholder="Password">
                        </div>
                        <button id="login" class="ui icon button action login green mini">
                            <i class="sign in icon"></i>
                            Log In
                        </button>
                    </div>
                    <div class="logout">
                        <p id="signin message">You are signed in.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segments">
            <div class="ui segment">
                <h2 class="ui header">Code</h2>
            </div>
            <div class="ui segment" id="editor-container">
                <div id="code-editor"></div>
            </div>
            <div class="ui segment">
                <div class="ui search selection dropdown examples">
                    <input name="file" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Load file...</div>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input placeholder="Search files..." type="text">
                        </div>
                        <div class="header">Standard</div>
                        {% for e in examples %}
                            <div class="item" data-value="{{ e.filename }}">{{ e.name }}</div>
                        {% endfor %}
                        <div class="header">Custom</div>
                        <div class="item disabled custom" >None yet :(</div>
                    </div>
                </div>
                <button class="ui blue labelled icon button action save">
                    <i class="save icon"></i>
                    Save
                </button>
                <div class="ui input">
                    <input id="start_state" type="text" name="Start State" placeholder="Start state...">
                </div>
                <button class="ui green labelled icon button right floated action compile">
                    <i class="wizard icon"></i>
                    Compile
                </button>
            </div>
        </div>
        <!--<div id="messages"></div>-->
        <div class="ui segments">
            <div class="ui segment clearing">
                <h2 class="ui header left floated">Machine</h2>
                <div class="clearing right floated">
                    <h3 class="ui header right aligned" id="machine-name"></h3>
                    <p id="machine-description"></p>
                </div>
            </div>
            <div class="ui segment clearing">
                <h4 class="ui header left floated">State: <span id="machine-state"></span></h4>
                <h4 class="ui header right floated">Step: <span id="machine-step"></h4>
            </div>
            <div class="ui segment">
                <div class="ui action input fluid">
                    <input type="text" id="tape-input" placeholder="Contents of tape...">
                    <button class="ui icon button action load-tape labelled right floated">
                        <i class="write icon"></i>
                        Load Tape
                    </button>
                </div>
            </div>
            <div class="ui segment tape-container">
                <div id="tape"></div>
            </div>
            <div class="ui segment">

                <select class="ui dropdown speed">
                    <option value="1000">Slowest</option>
                    <option value="625">Slower</option>
                    <option value="375">Slow</option>
                    <option value="250" selected>Normal Speed</option>
                    <option value="100">Fast</option>
                    <option value="50">Faster</option>
                    <option value="0">Fastest</option>
                    <option value="-1">Don't Render</option>
                </select>

                <select class="ui dropdown movement">
                    <option value="static">Don't move</option>
                    <option value="head" selected>Move with head</option>
                    <option value="necessary">Move if necessary</option>
                    <option value="left">Stick to left</option>
                    <option value="right">Stick to right</option>
                </select>

                <button class="ui blue labelled icon button" id="tidy">
                    Tidy up
                </button>

                <div class="ui icon buttons floated right controls">
                    <button class="ui icon button" id="step">
                        <i class="step forward icon"></i>
                    </button>
                    <button class="ui icon button" id="play">
                        <i class="play icon"></i>
                    </button>

                    <button class="ui icon button" id="pause">
                        <i class="pause icon"></i>
                    </button>
                    <button class="ui icon button" id="stop">
                        <i class="stop icon"></i>
                    </button>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
        <script src="/static/js/monaco/vs/loader.js"></script>

        <script src="/static/js/messages.js"></script>
        <script src="/static/js/editor.js"></script>
        <script src="/static/js/machine.js"></script>
        <script src="/static/js/user.js"></script>
    </div>
    <div class="ui errors"></div>
    </body>
</html>
