<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online Turing Machine Simulator</title>
        <meta http-equiv="Content-Type" content="text/ html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="Description" content="Interactive Turing machine simulator. Use a simple language to create, compile and run your Turing machines save and share your own Turing machines.">
        <meta name="Keywords" content="Turing, machine, simulator, online">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.css" integrity="sha256-vZ3SaLOjnKO/gGvcUWegySoDU6ff33CS5i9ot8J9Czk=" crossorigin="anonymous" />

        <link href="/static/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="ui container">
            <div class="ui grid two column top">
                <div class="ui column">
                    <h1 class="ui header">Turing Machine Simulator</h1>
                </div>
            </div>
            <div class="ui segments">
                <div class="ui segment">
                    <h2 class="ui header">Code</h2>
                </div>
                <div class="ui segment" id="editor-container">
                    <textarea id="code-editor">{{ code }}</textarea>
                </div>
                <div class="ui segment">
                    <div class="ui search selection dropdown examples">
                        <input name="file" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Examples...</div>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input placeholder="Search..." type="text">
                            </div>
                            {% for e in examples %}
                                <div class="item" data-value="{{ e.filename }}">{{ e.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="ui green labelled icon button right floated action compile">
                        <i class="wizard icon"></i>
                        Compile
                    </button>
                </div>
            </div>

            <div class="ui segments">
                <div class="ui segment clearing">
                    <h2 class="ui header left floated">Machine</h2>
                    <div class="clearing right floated">
                        <h3 class="ui header right aligned" id="machine-name"></h3>
                        <p id="machine-description"></p>
                    </div>
                </div>
                <div class="ui segment clearing">
                    <h4 class="ui header left floated">State: <span id="machine-state"></span></h4>
                    <h4 class="ui header right floated">Step: <span id="machine-step"></h4>
                </div>
                <div class="ui segment">
                    <div class="ui action input fluid">
                        <input type="text" id="tape-input" placeholder="Contents of tape...">
                        <button class="ui icon button action load-tape labelled right floated">
                            <i class="write icon"></i>
                            Load Tape
                        </button>
                    </div>
                </div>
                <div class="ui segment tape-container">
                    <div id="tape"></div>
                </div>
                <div class="ui segment">

                    <select class="ui dropdown speed">
                        <option value="1000">Slowest</option>
                        <option value="625">Slower</option>
                        <option value="375">Slow</option>
                        <option value="250" selected>Normal Speed</option>
                        <option value="100">Fast</option>
                        <option value="50">Faster</option>
                        <option value="0">Fastest</option>
                        <option value="-1">Don't Render</option>
                    </select>

                    <select class="ui dropdown movement">
                        <option value="static">Don't move</option>
                        <option value="head" selected>Move with head</option>
                        <option value="necessary">Move if necessary</option>
                        <option value="left">Stick to left</option>
                        <option value="right">Stick to right</option>
                    </select>

                    <button class="ui blue labelled icon button" id="tidy">
                        Tidy up
                    </button>

                    <div class="ui icon buttons floated right controls">
                        <button class="ui icon button" id="step">
                            <i class="step forward icon"></i>
                        </button>
                        <button class="ui icon button" id="play">
                            <i class="play icon"></i>
                        </button>

                        <button class="ui icon button" id="pause">
                            <i class="pause icon"></i>
                        </button>
                        <button class="ui icon button" id="stop">
                            <i class="stop icon"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="ui errors"></div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.js" integrity="sha256-C1kVf8tUtnM4eBSZM0mE7kcDrTYuVGxACdyYvhMEeRo=" crossorigin="anonymous"></script>

            <script src="/static/js/messages.js"></script>
            <script src="/static/js/editor.js"></script>
            <script src="/static/js/machine.js"></script>
        </div>
    </body>
</html>
